{% extends 'admin/master.html' %}

{% block body %}
    <h1 class="text-center text-info">CHÀO MỪNG BẠN ĐẾN TRANG QUẢN TRỊ</h1>

    {% if current_user.is_authenticated%}
        <h2 class="text-success">Chào mừng bạn {{current_user.username}} trở lại</h2>
    {% else %}
        <form method="post" action="/admin-login" style="margin: 2.7rem">
        <div class="form-group mb-3 mt-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
        </div>

        <div class="form-group mt-3 mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        </div>

        <div class="form-group mt-3 mb-3">
          <button class="btn btn-success" type="submit">Dang nhap</button>
        </div>
    </form>
    {% endif %}
{% endblock %}